@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Customers.cshtml";
}

<h2>Index</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modelc in Model)
        {
            <tr>
                <td>@Html.ActionLink(modelc.Name, "Details", "Customers", new { id = modelc.Id }, null)</td>
                <td>@modelc.MembershipType.Name</td>
                <td>@Html.ActionLink("Edit", "Edit","Customers", new { id = modelc.Id }, new { @class="btn btn-primary btn-sm" })</td>
            </tr>
        }
    </tbody>
</table>

